.search-date {
    text-align: center;
    padding: 1rem 0;
}

.search-label {
    font-size: 12px;
    font-weight: 400;
}

.search-input {
    padding: 0 3rem;
    border-radius: 10px;
    border: 1px solid #00000042;
    font-weight: 200;
}

.search-button {
    border: none;
    color: white;
    background-color: #01325c;
    padding: 0 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.search-button:hover {
    background-color: #01325ca8;
}

@media screen and (max-width: 400px) {
    .search-date {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 50%;
        margin: auto;
    }
    .search-input {
        padding: 0 5px;
    }
}